*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	padding: 1rem 10% 0.8rem 10%;
	margin-top: 1rem;
	border-top: 1px solid gray;
	
	
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
}
nav ul {
	
	list-style-type: none;
}


nav .nav, nav .nav-logo {
	display: inline;
	margin: 0.5rem;
}



.right-nav {
	float: right;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.6rem;
}

.front-bg {
	min-height: 350px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;	
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 350px;
}

.title {
	margin-top: 10px;
	color: white;
	text-align: right;
	font-size: 2.5em;
	margin-right: 5vh;
	padding-right: 10%;
	padding-left: 50.2%;

}

.subtitle {
	color: white;
	text-align: right;
	padding-right: 10%;
	margin-right: 5vh;
	padding-left: 55%;
	font-weight: inherit;
	margin-top: 5px;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.6rem;
	float: right;
	margin-right: 25vh;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 5px;
}

.title-2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 55px;
}

.intro-description {
	text-align: justify;
	padding-right: 15%;
	padding-left: 15%;
	margin-bottom: 100px;
}

.pre-footer>.title-2 {
	text-align: center;
	margin-top: 60px;
}
.pre-footer {
	background-color: #f7fbfb;
	padding-top: 6px;
	padding-bottom: 150px;
}

.prefooter-description {
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;
}

.book-button {
	color: white;
	background-color: #336589;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.6rem;
	margin-left: 46%;
	margin-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

footer {
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.title, .title-2 {
	font-family: 'Zilla Slab',sans-serif;
}
