#three{
	color: blue;
}

*{
	font-family: sans-serif;
	font-size: 20px;
}

h1{
	font-size: 45px;
}

#c{
	text-transform: uppercase;
}
.lan{
  background-color: lightgreen;
}
li[one]{
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4~p {
	text-align: center;
}
body>section>ul {
	letter-spacing: 8px;
}